html {
	height: 100%;
	position: relative;
}

header {
	height: 100%;
}

* {
	font-family: arial;
}

@font-face {
	font-family: 'Berlin Sans FB';
	src: url('BerlinSansFB-Reg.woff2') format('woff2'),
	url('BerlinSansFB-Reg.woff') format('woff'),
	url('BerlinSansFB-Reg.ttf') format('truetype'),
	url('BerlinSansFB-Reg.svg#BerlinSansFB-Reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

video {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: none;
}

#backgroundVideo {
	position: absolute;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	object-fit: fill;
	z-index: -100;
}

.banner-top {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/companylogoBG.jpg");

	height: 20%;
	width: 400px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.banner-top h1 {
	font-family: 'Berlin Sans FB';
	font-weight: 450;
	font-style: normal;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,	-1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
	position: relative;
	color: #ffffff;
}

main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 400px;
	justify-content: center;
	margin: auto;
}

nav {
	width: 400px;
}
.navigation-bar {
	height: 22px;
	margin: auto;
	width: 398px;
	background-color: #707070;
	color: #ffffff;
	text-align: center;
	border-style: solid;
	border-color: #e4e4e4;
	border-width: 1px;
	border-bottom: none;
}
.navigation-bar a {
	position: relative;
	color: #ffffff;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 0.75em;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	top: 2px;
}
.no-underline {
	text-decoration: none;
}

img {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px #444444;
}

figure {
	max-width: 400px;
	height: 82px;
	margin: 0px;
}

.section-header {
	align-items: center; /* align vertical */
	height: 45px;
	width: 400px;
	background-color: #2699fb;
	border-top: solid #fff 1px;
	border: solid #f5f5f5 1px;
	border-bottom: solid #fff 6px;
}

section h2 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	position: relative;
	color: #ffffff;
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
}

.section-product {
	width: 31.8%;
	background-color: #FFF;
	padding-bottom: 6px;
	border-left: solid #fff 3px;
	border-right: solid #fff 3px;
}

.section-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 396px;
	justify-content: center;
	border-right: solid #fff 2px;
	border-left: solid #fff 2px;
	box-shadow: 0px 1px 1px 0px #444444;
}

footer {
	background-color: #000000;
	color: #ffffff;
	font-weight: lighter;
	font-size: 0.75em;
	text-align: center;
	height: 22px;
	margin: auto;
	width: 400px;
	z-index: 6;
}

footer p {
	line-height: 22px;
	margin: 0px;
}

@media screen and (max-width: 960px) {
	
}

@media  (min-width: 361px) and (max-width: 960px) {

	#backgroundVideo {
		display: none;
	}

	.section-header {
		display: none;
	}

	.section-product {
		width: 46.5%;
		border: solid #fff 5px;
		border-top: none;
		padding-bottom: none;
	}

	.section-container {
		box-shadow: none;
		padding-top: 10px;
	}

	figure {
		height: 106px;
	}


	
}

@media screen and (max-width: 360px) {
	
	#backgroundVideo {
		display: none;
	}

	.section-product {
		width: 100%;
		border: solid #fff 3px;
		border-top: none;
	}

}