html {
	height: 100%;
	position: relative;
}

header {
	height: 100%;
}

* {
    font-family: arial;
}

@font-face {
    font-family: 'Berlin Sans FB';
    src: url('BerlinSansFB-Reg.woff2') format('woff2'),
        url('BerlinSansFB-Reg.woff') format('woff'),
        url('BerlinSansFB-Reg.ttf') format('truetype'),
        url('BerlinSansFB-Reg.svg#BerlinSansFB-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.banner-top {
	margin: auto;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
    background-image: url("../img/companylogoBG.jpg");

    height: 20%;
    width: 400px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-top h1 {
	font-family: 'Berlin Sans FB';
    font-weight: 450;
    font-style: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,	-1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
    position: relative;
    color: #ffffff;
}
/* Place text in the middle of the image */
main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 400px;
	justify-content: center;
	margin: auto;
}

.navigation-bar {
	height: 22px;
    margin: auto;
	width: 400px;
	background-color: #707070;
	color: #ffffff;
	text-align: center;
	border-style: solid;
	border-color: #cfcfcf;
	border-width: 1px;
}
.navigation-bar a {
	position: relative;
	color: #ffffff;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 0.75em;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	top: 2px;
}
.no-underline {
	text-decoration: none;
}

img {
  	vertical-align: middle;
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	overflow: hidden;
}

section {
	max-width: 400px;
    margin : auto;
}

.section-header {
	align-items: center; /* align vertical */
	height: 45px;
	width: 100%;
	background-color: #2699fb;

}

section h2 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
    position: relative;
    color: #ffffff;
    font-size: 2em;
    font-weight: lighter;
    text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
}

footer {
	background-color: #000000;
	color: #ffffff;
	font-weight: lighter;
	font-size: 0.75em;
	text-align: center;
	height: 22px;
    margin: auto;
	width: 400px;
	border-top: ridge #707070;
	border-width: 1px;
}

